@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        body {background-color: lightblue;}
        h2 {color: white;}
    </style>
</head>

<div class="jumbotron">
    <h1>Welcome to Seamus's Happy Hut</h1>
    <p class="lead">We're a hut with a generally positive disposition!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Accounts</h2>
        <p>Create customer accounts.</p>
        <p>@Html.ActionLink("Create Accounts", "Create", "Customers", null, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Menu</h2>
        <p>View the menu.</p>
        <p>@Html.ActionLink("Menu", "Index", "Menus", null, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Account</h2>
        <p>View your account.</p>
        <p>@Html.ActionLink("Account", "Index", "Customers", null, null)</p>
    </div>
</div>